/* Color */

.wd-bg-color-black {
    background-color: black;
}

.wd-border-color {
    color: rgb(47, 51, 54);
}

.wd-font-color-white {
    color: white;
}

.wd-font-color-lightgrey {
    color: rgb(98, 100, 105);
}

.wd-heart-color-pinkred {
    color: rgb(230, 65, 100);
}

/* Border */

.wd-border-style-normal {
    border-left: 2px;
    border-right: 2px;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid; 
}

.wd-border-style-all-thin {
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid; 
}

.wd-border-style-bottom {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px;
    border-style: solid;
}

/* Font */

.wd-font-title-size {
    font-size: 20px;
}

.wd-font-handle-size {
    font-size: 13px;
}

.wd-font-size-15 {
    font-size: 15px;
}

/* Margin */

.wd-margin-left {
    margin-left: 16px;
}

.wd-margin-left-12 {
    margin-left: 12px;
}

.wd-margin-top-0 {
    margin-top: 0px;
}

.wd-margin-top-2 {
    margin-top: 2px;
}

.wd-margin-top {
    margin-top: 12px;
}

.wd-margin-bottom {
    margin-bottom: 12px;
}

.wd-margin-bottom-0 {
    margin-bottom: 0px;
}

.wd-margin-bottom-2 {
    margin-bottom: 2px;
}

.wd-margin-right {
    margin-right: 12px;
}

/* Padding */
.wd-padding-right-12 {
    padding-right: 12px;
}

.wd-padding-bottom-12 {
    padding-bottom: 12px;
}

.wd-padding-top-12 {
    padding-top: 12px;
}

.wd-padding-all-12 {
    padding: 12px;
}

/* Rounded corner */

.wd-rounded-corners-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wd-rounded-corners-top {
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
}

.wd-rounded-corners-bottom {
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
}


/* Grid */
.wd-grid-row {
   clear: both;
}

.wd-float-left {
    float: left;
}

.wd-float-left-506px {
    width: 506px;
    float: left;
}

.wd-float-right {
    float: right;
}

.wd-float-done {
    clear: both;
}

.wd-float-fourth {
    width: 25%;
    float: left;
}

/* Position */
.wd-pos-relative-below {
    position: relative;
    bottom: 5px;
}

/* Hyperlink */

.wd-remove-underline {
    color: inherit;
    text-decoration: none;
}
